# 依赖与构建产物
node_modules/
dist/
.astro/

# 环境变量
.env
.env.production

# 编辑器与系统
.vscode/*
!.vscode/extensions.json
.idea/
.DS_Store
Thumbs.db

# 日志
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
